!!!Strict
%html
  %head
    %title no:sql(east) conference.
    %link( rel="stylesheet" type="text/css" href="../nosql.css" )
  %body

    .page.narrow

      .head
        .line.border
          .unit.size1of2.logo.border
            .air
              %a.no( href="#home" ) no
              %span.dim<> :
              %span.sql sql
              %span.dim<> (
              %span.east east
              %span.dim<> )
              %span.dim<> .
          .lastUnit.size1of2.border.bigAirTop.airLeft
            .line
              %span.command date
              %span.dim =
              %span.string "October 28&ndash;30, 2009"
            .line
              %span.command location
              %span.dim =
              %span.string "Atlanta, GA"

        .line.center.bigAir.border
          select
          %span.bright fun
          %span.dim<> ,
          %span.bright profit
          from
          %span.bright real_world
          where
          %span.bright relational
          %span.dim<> =
          false
          %span.dim ;

      .body.border.bigAir

        > help


        .gapLeft
          .dim Available commands are:
          .line
            %a.command.unit.size1of4( href="#describe" ) describe
            .lastUnit.size3of4 get description of the event
          .line
            %a.command.unit.size1of4( href="#who" ) who
            .lastUnit.size3of4 get list of organizers and sponsors
          .line
            %a.command.unit.size1of4( href="#agenda" ) agenda
            .lastUnit.size3of4 get the schedule of the conference
          .line
            %a.command.unit.size1of4( href="#register" ) register
            .lastUnit.size3of4 get registration for $120 until September 30th
          .line
            %a.command.unit.size1of4( href="#speakers" ) speakers
            .lastUnit.size3of4 get list of confirmed speakers
          .line
            %a.command.unit.size1of4( href="#location" ) location
            .lastUnit.size3of4 get event location


        #commands

        #describe.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command describe

          .gapLeft.smallGapTop
            NoSQL East, a conference of non-relational data stores, aims
            to present the experiences of different companies using so-called
            "nosql" solutions in production.  The reasons for using these new
            systems are varied, but often involve scale that relational
            solutions cannot achieve.

          .gapLeft.smallGapTop
            Join us in Atlanta as we discuss "Big Data" and the systems that
            are making short work of mammoth data sets.

        #speakers.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speakers

          .gapLeft.smallGapTop

            %h2
              %span Arin Sarkissian -
              %a.dim.under( href="http://digg.com" )Digg
            %a.dim.under( href="http://incubator.apache.org/cassandra/" )
              Cassandra

            %h2.gapTop Kevin Smith - Hypotheticalabs
            %p.dim Redis

            %h2.gapTop Don Brown - Twitpay
            %p.dim Pig

            %h2.gapTop Chris Curtin - Silverpop
            %p.dim Cascading

            %h2.gapTop Mark Gunnels
            %p.dim HBase

            %h2.gapTop John Hornbeck - Engine Yard
            %p.dim MongoDB

            %h2.gapTop Mike Miller - Cloudant
            %p.dim CouchDB

            %h2.gapTop Cliff Moon - Powerset
            %p.dim Dynomite

            %h2.gapTop Justin Sheehy - Basho
            %p.dim Riak

        #agenda.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command agenda

          .gapLeft.smallGapTop

            %h2 Wednesday, October 28th
            %p.dim 7:00pm-... Cocktail Welcome

            %h2.gapTop Thursday, October 29th
            %p.dim 8:00am-9:00am Registration
            %p.dim 9:00am-9:15am Opening Remarks
            %p.dim 9:15am-10:15am Talk 1 / Keynote
            %p.dim break
            %p.dim 10:30am-11:30am Talk 2
            %p.dim 11:30am-12:30pm Talk 3
            %p.dim 12:30pm- 1:30pm Lunch

        #register.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command register

          .gapLeft.smallGapTop
            %p.dim More info coming soon.

        #location.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command location

          .gapLeft.smallGapTop
            %p.dim Georgia Tech Research Institute

        #who.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command who

          .gapLeft.smallGapTop
            %h2.gapTop Sponsors
            %p.dim
              %a.sponsor( href="http://cloudant.com" )Cloudant
            %p.dim
              %a.sponsor( href="http://gtri.gatech.edu" )Georgia Tech Research Institute

          .gapLeft.smallGapTop
            %h2 Organizers
            %p.dim Brad Anderson
            %p.dim Matthew Podwysocki
            %p.dim Chris Williams

        #notfound.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command abc

          .gapLeft.smallGapTop
            %h2 Command not found. Type 'help' for a list of available commands.

        #prompt.line.gapTop
          .unit >&nbsp;
          #command.unit.command
          #cursor.bright.unit
            |

      .foot
        .smallGapTop.design
          %span.dim design by
          %a.link( href="http://twitter.com/steadicat" )steadicat

    %script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" )
    %script( type="text/javascript" src="../nosql.js" )