!!!Strict
%html
  %head
    %title no:sql(east) conference.
    %link( rel="stylesheet" type="text/css" href="../nosql.css" )
  %body

    .page.narrow

      .head
        .line.border
          .unit.size1of2.logo.border
            .air
              %a.no( href="#home" ) no
              %span.dim<> :
              %span.sql sql
              %span.dim<> (
              %span.east east
              %span.dim<> )
              %span.dim<> .
          .lastUnit.size1of2.border.bigAirTop.airLeft
            .line
              %span.command date
              %span.dim =
              %span.string "October 28&ndash;30, 2009"
            .line
              %span.command location
              %span.dim =
              %span.string "Atlanta, GA"

        .line.center.bigAir.border
          select
          %span.bright fun
          %span.dim<> ,
          %span.bright profit
          from
          %span.bright real_world
          where
          %span.bright relational
          %span.dim<> =
          false
          %span.dim ;

      .body.border.bigAir

        > help


        .gapLeft
          .dim Available commands are:
          .line
            %a.command.unit.size1of4( href="#describe" ) describe
            .lastUnit.size3of4 get description of the event
          .line
            %a.command.unit.size1of4( href="#who" ) who
            .lastUnit.size3of4 get list of organizers and sponsors
          .line
            %a.command.unit.size1of4( href="#agenda" ) agenda
            .lastUnit.size3of4 get the schedule of the conference
          .line
            %a.command.unit.size1of4( href="#register" ) register
            .lastUnit.size3of4 get registration for $125 until September 30th
          .line
            %a.command.unit.size1of4( href="#speakers" ) speakers
            .lastUnit.size3of4 get list of confirmed speakers
          .line
            %a.command.unit.size1of4( href="#location" ) location
            .lastUnit.size3of4 get event location


        #commands

        #describe.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command describe

          .gapLeft.smallGapTop
            NoSQL East, a conference of non-relational data stores, aims
            to present the experiences of different companies using so-called
            "nosql" solutions in production.  The reasons for using these new
            systems are varied, but often involve scale that relational
            solutions cannot achieve.

          .gapLeft.smallGapTop
            Join us in Atlanta as we discuss "Big Data" and the systems that
            are making short work of mammoth data sets.

        #speakers.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speakers

          .gapLeft.smallGapTop

            %h2.gapTop
              Arin Sarkissian -
              %a.dim.under( href="http://digg.com" )Digg
            %a.dim.under( href="http://incubator.apache.org/cassandra/" )Cassandra

            %h2.gapTop
              Kevin Smith -
              %a.dim.under( href="http://hypotheticalabs.com" )Hypothetical Labs
            %a.dim.under( href="http://code.google.com/p/redis/" )Redis

            %h2.gapTop
              Don Brown -
              %a.dim.under( href="http://twitpay.me" )Twitpay
            %a.dim.under( href="http://hadoop.apache.org/pig/" )Pig

            %h2.gapTop
              Chris Curtin -
              %a.dim.under( href="http://silverpop.com" )Silverpop
            %a.dim.under( href="http://cascading.org" )Cascading

            %h2.gapTop
              John Hornbeck -
              %a.dim.under( href="http://engineyard.com" )Engine Yard
            %a.dim.under( href="http://mongodb.org" )MongoDB

            %h2.gapTop
              Mike Miller -
              %a.dim.under( href="http://cloudant.com" )Cloudant
            %a.dim.under(href="http://couchdb.apache.org" )CouchDB

            %h2.gapTop
              Cliff Moon -
              %a.dim.under( href="http://powerset.com" )Microsoft / Powerset
            %a.dim.under( href="http://wiki.github.com/cliffmoon/dynomite" )Dynomite

            %h2.gapTop
              Justin Sheehy -
              %a.dim.under( href="http://basho.com" )Basho
            %a.dim.under( href="http://riak.basho.com" )Riak

            %h2.gapTop
              Mark Gunnels -
              %a.dim.under( href="http://catamorphiclabs.com" )Catamorphic Labs
            %a.dim.under( href="http://hadoop.apache.org/hbase/" )HBase

        #agenda.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command agenda

          .gapLeft.smallGapTop
            %p.dim A work in progress...

          .gapLeft.smallGapTop
            %h2 Wednesday, October 28th
            %p.dim 7:00pm Cocktail Welcome

          .gapLeft.smallGapTop
            %h2 Thursday, October 29th
            %p.dim  8:00am Registration
            %p.dim  9:00am Opening Remarks
            %p.dim  9:15am Talk 1 / Keynote
            %p.dim 10:15am break
            %p.dim 10:30am Talk 2
            %p.dim 11:30am Talk 3
            %p.dim 12:30pm Lunch
            %p.dim  1:45pm Talk 4
            %p.dim  2:45pm Talk 5
            %p.dim  3:45pm Talk 6
            %p.dim  6:00pm Dinner / Cocktails

          .gapLeft.smallGapTop
            %h2 Friday, October 30th
            %p.dim TBD

        #register.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command register

          %script( type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js" )
          .gapLeft.smallGapTop
            %iframe( src="https://www.amiando.com/nosqleast.html?viewType=iframe&panelId=522582&useDefaults=false&useEventColors=false&simple_cbox=222222&simple_ctext=aaaaaa&simple_clink=006666&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame522582a8n9gXx0" id="_amiandoIFrame522582a8n9gXx0" )
              %span Try out the
              %a.dim( href="http://www.amiando.com/" )online event registration system
              from amiando.

            %p.tag
            %a.tag.link( href="http://www.amiando.com/conference-management-software.html" alt="Conference Management Software" title="Conference Management Software" )Conference Management Software
            %span.tag by amiando



        #location.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command location

            .gapLeft.smallGapTop
              %h2 Venue
              %p.dim Georgia Tech Research Institute - Conference Center
              %p.dim 250 14th St. NW
              %p.dim Atlanta, GA  30318

            .gapLeft.smallGapTop
              %h2 Accommodations
              %p.dim
              %a.link( href="http://www.marriott.com/hotels/travel/atlmn-courtyard-atlanta-midtown-georgia-tech/" )Courtyard by Marriott
              %span.dim right next door

        #who.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command who

          .gapLeft.smallGapTop
            %h2.gapTop Sponsors
            %p.dim
              %a.sponsor( href="http://cloudant.com" )Cloudant
            %p.dim
              %a.sponsor( href="http://gtri.gatech.edu" )Georgia Tech Research Institute

          .gapLeft.smallGapTop
            %h2 Organizers
            %p.dim Brad Anderson
            %p.dim Matthew Podwysocki
            %p.dim Chris Williams

        #notfound.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command abc

          .gapLeft.smallGapTop
            %h2 Command not found. Type 'help' for a list of available commands.

        #prompt.line.gapTop
          .unit >&nbsp;
          #command.unit.command
          #cursor.bright.unit
            |

      .foot
        .smallGapTop.bigGapBottom.tag
          %span.dim design by
          %a.link( href="http://twitter.com/steadicat" )steadicat

    %script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" )
    %script( type="text/javascript" src="../nosql.js" )