!!!Strict
%html
  %head
    %title no:sql(east) conference.
    %link( rel="stylesheet" type="text/css" href="../nosql.css" )
  %body
    %script( type="text/javascript" )
      document.write('<style type="text/css">.hidden { display: none }</style>');

    .page.narrow

      .head
        .line.border
          .unit.size1of2.logo.border
            .air
              %span.no no
              %span.dim<> :
              %span.sql sql
              %span.dim<> (
              %span.east east
              %span.dim<> )
              %span.dim<> .
          .lastUnit.size1of2.bigAirTop.airLeft
            .line
              %span.command date
              %span.dim =
              %span.string "October 28&ndash;30, 2009"
            .line
              %span.command location
              %span.dim =
              %span.string "Atlanta, GA"

        .line.center.smallAir.border
          select
          %span.bright fun, profit
          from
          %span.bright real_world
          where
          %span.bright relational
          %span.dim<> =
          false
          %span.dim<> ;

      .body.border.bigAir

        #help
          > help

          .gapLeft
            .dim Available commands are:
            .line
              %a.command.unit.size1of4( href="#describe" ) describe
              .lastUnit.size3of4 get description of the event
            .line
              %a.command.unit.size1of4( href="#who" ) who
              .lastUnit.size3of4 get list of organizers and sponsors
            .line
              %a.command.unit.size1of4( href="#agenda" ) agenda
              .lastUnit.size3of4 get the schedule of the conference
            .line
              %a.command.unit.size1of4( href="#register" ) register
              .lastUnit.size3of4 get registration details & form
            .line
              %a.command.unit.size1of4( href="#speakers" ) speakers
              .lastUnit.size3of4 get list of confirmed speakers
            .line
              %a.command.unit.size1of4( href="#location" ) location
              .lastUnit.size3of4 get event locations
            .line
              %a.command.unit.size1of4( href="#tail" ) tail
              .lastUnit.size3of4 get post-conference recap


        #commands

        #tail.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command tail

          .gapLeft.gapTop
            %p.gapTop
              NoSQL East 2009 has come and gone, and we could not be happier with the results.  An excellent crew of speakers dropped some serious knowledge on an attentive and eager audience.  There were two entire days of talks, social events, mingling, and networking, bringing what we hope was immense value to all involved.

            %p.gapTop
              We were overwhelmed with the largely positive feedback we have received.  And yet it is the sponsors, speakers, and attendees whom we feel need the praise.  The sponsoring companies stepped up huge in assistance, and were all quite relevant to the NoSQL space, adding a ton to the proceedings.  We can't say enough about the speakers.  While most speakers honored the "more use cases" request, all of them provided compelling, thought-provoking talks.  Finally, the attendees shocked us as they turned out in droves.  The final total was 120 people, and this really made for great questions, interactions, and side conversations at every turn during our time in Atlanta.

            %p.gapTop
              For the curious, yes, we will post slides and videos of the talks on each speaker's page.  Get to each speaker's page via the 'agenda' or 'speaker' commands.  We will post them as they come online, and tweet updates from
              %a.link( href="http://twitter.com/nosqleast" ) @nosqleast

            %p.gapTop
              We would like to hear feedback on every part of the conference.  Use our twitter handle or email address to send it along, so we can make next year even better.

          %h2.gapLeft.bright.gapVertical.smallGapBottom Blog Posts
          .gapLeft
            .line
              %a.sponsor( href="http://journal.uggedal.com/nosql-east-2009---summary-of-day-1" ) Eivind Uggedal - Summary of Day 1
            .line
              %a.sponsor( href="http://journal.uggedal.com/nosql-east-2009---summary-of-day-2" ) Eivind Uggedal - Summary of Day 2
            .line
              %a.sponsor( href="http://codeartisan.blogspot.com/2009/10/nosql-east-2009-redux.html" ) Jon Moore - NoSQL East 2009 Redux
            .line
              %a.sponsor( href="http://seth.chisamore.com/post/229958337/what-the-heck-is-nosql-my-takeaways-from-nosql" ) Seth Chisamore - What the heck is NoSQL?
            .line
              %a.sponsor( href="http://paulstamatiou.com/recap-nosql-east-conference-2009" ) Paul Stamatiou - Recap: NoSQL East Conference 2009
            .line
              %a.sponsor( href="http://www.gear6.com/travel-cloudcamp-nosqleast-apachecon-and-more" ) Mark Atwood - Travel to CloudCamp, No:SQL(East), ApacheCon, and more...

          %h2.gapLeft.bright.gapVertical.smallGapBottom Photos
          .gapLeft
            .line
              %a.sponsor( href="http://www.flickr.com/photos/pauls/sets/72157622686185710/" ) Paul Stamatiou
            .line
              %a.sponsor( href="http://www.flickr.com/photos/22102587@N04/sets/72157622578416477/" ) Eric Evans


        #describe.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command describe

          .gapLeft.gapTop
            NoSQL East, a conference of non-relational data stores, aims
            to present the experiences of different companies using so-called
            “nosql” solutions in production.

          .gapLeft.gapTop
            The reasons for using these new
            systems are varied, but often involve scale that relational
            solutions cannot achieve.  We have a new tool in our toolbelts,
            and as you will see, some people are using them quite effectively.

          .gapLeft.gapTop
            Join us in Atlanta as we discuss “Big Data” and the systems that
            are completely transforming how people look at data.

        #speakers.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speakers

          .gapLeft.smallGapTop

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/willis" ) John Willis
              %span.dim<> &nbsp;(
              %a.east( href="http://zabovo.com" )<> Zabovo
              %span.dim<> ):&nbsp;
              Keynote

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/arrott" ) Matt Arrott
              %span.dim<> &nbsp;(
              %a.east( href="http://ucsd.edu" )<> UCSD
              %span.dim<> ):&nbsp;
              Keynote

            %h2
              %a.command.speaker( href="#speaker/day" ) John Day

            %h2
              %a.command.speaker( href="#speaker/garnock-jones" ) Tony Garnock-Jones
              %span.dim<> &nbsp;(
              %a.east( href="http://lshift.net" )<> LShift, Ltd.
              %span.dim<> )

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/sarkissian" ) Arin Sarkissian
              %span.dim<> &nbsp;(
              %a.east( href="http://digg.com" )<> Digg
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://incubator.apache.org/cassandra/" )Cassandra

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/smith" ) Kevin Smith
              %span.dim<> &nbsp;(
              %a.east( href="http://hypotheticalabs.com" )<> Hypothetical Labs
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://code.google.com/p/redis/" )Redis

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/weil" ) Kevin Weil
              %span.dim<> &nbsp;(
              %a.east( href="http://twitter.com" )<> Twitter
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://hadoop.apache.org/pig/" )Pig

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/curtin" ) Chris Curtin
              %span.dim<> &nbsp;(
              %a.east( href="http://silverpop.com" )<> Silverpop
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://cascading.org" )Cascading

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/banker" ) Kyle Banker
              %span.dim<> &nbsp;(
              %a.east( href="http://10gen.com" )<> 10gen
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://mongodb.org" )MongoDB

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/miller" ) Mike Miller
              %span.dim<> &nbsp;(
              %a.east( href="http://cloudant.com" )<> Cloudant
              %span.dim<> ):&nbsp;
              %a.sponsor(href="http://couchdb.apache.org" )CouchDB

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/moon" ) Cliff Moon
              %span.dim<> &nbsp;(
              %a.east( href="http://powerset.com" )<> Microsoft / Powerset
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://wiki.github.com/cliffmoon/dynomite" )Dynomite

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/sheehy" ) Justin Sheehy
              %span.dim<> &nbsp;(
              %a.east( href="http://basho.com" )<> Basho
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://riak.basho.com" )Riak

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/gunnels" ) Mark Gunnels
              %span.dim<> &nbsp;(
              %a.east( href="http://catamorphiclabs.com" )<> Catamorphic Labs
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://hadoop.apache.org/hbase/" )HBase

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/anglade" ) Tim Anglade
              %span.dim<> &nbsp;(
              %a.east( href="http://af83.com" )<> af83
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://github.com/timanglade/tin/" )tin

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/eifrem" ) Emil Eifrem
              %span.dim<> &nbsp;(
              %a.east( href="http://neotechnology.com/" )<> Neo Technology
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://neo4j.org/" )Neo4j

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/magnusson" ) Geir Magnusson
              %span.dim<> &nbsp;(
              %a.east( href="http://gilt.com/" )<> Gilt Groupe
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://project-voldemort.com/" )Project Voldemort

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/yu" ) Yuan Yu
              %span.dim<> &nbsp;(
              %a.east( href="http://research.microsoft.com/" )<> Microsoft Research
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://connect.microsoft.com/site/sitehome.aspx?SiteID=891" )Dryad/DryadLINQ

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/corwin" ) John Corwin
              %span.dim<> &nbsp;(
              %a.east( href="http://yahoo.com/" )<> Yahoo!
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://developer.yahoo.net/blog/archives/2009/06/sherpa.html" )Sherpa

        #agenda.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command agenda

          .gapLeft.gapTop
            %h2.east.smallGapVertical Wednesday, October 28th
            %p.unit.size1of6.dim.right.gapRight 5:00pm
            %p.lastUnit
              %a.sponsor( href="http://www.meetup.com/awsomeatlanta/calendar/11327683/" )Cloud Camp Atlanta II
            %p.unit.size1of6.dim.right.gapRight.gapTop 7:00pm
            %p.lastUnit.gapTop NoSQL East - Cocktail Welcome
            %p.unit.size1of6.dim.right.gapRight &nbsp;
            %p.lastUnit
              %span.tag sponsored by
              %a.link.tag( href="http://basho.com" ) Basho Technologies
            %p.unit.size1of6.dim.right.gapRight at
            %p.lastUnit
              Tap, a gastropub -
              %a.sponsor( href="http://local.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1180+Peachtree+Street,+30309&sll=33.78571,-84.394913&sspn=0.085532,0.068836&ie=UTF8&hq=&hnear=1180+W+Peachtree+St+NE,+Atlanta,+Fulton,+Georgia+30309&z=16&iwloc=r17" ) Map

          .gapLeft.gapTop
            %h2.east.smallGapVertical Thursday, October 29th
            %p.unit.size1of6.dim.right.gapRight  8:00am
            %p.lastUnit Registration / Light Breakfast
            %p.unit.size1of6.dim.right.gapRight.gapTop  9:00am
            %p.lastUnit.gapTop Opening Remarks
            %p.unit.size1of6.dim.right.gapRight  9:15am
            %p.lastUnit
              %a.command.speaker( href="#speaker/willis" ) John Willis
              \- Keynote
            %p.unit.size1of6.dim.right.gapRight  9:45am
            %p.lastUnit
              %a.command.speaker( href="#speaker/magnusson" ) Geir Magnusson
              \- Voldemort
            %p.unit.size1of6.dim.right.gapRight 10:30am
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight 10:45am
            %p.lastUnit
              %a.command.speaker( href="#speaker/moon" ) Cliff Moon
              \- Dynomite
            %p.unit.size1of6.dim.right.gapRight 11:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/miller" ) Mike Miller
              \- CouchDB
            %p.unit.size1of6.dim.right.gapRight 12:15pm
            %p.lastUnit.dim lunch
            %p.unit.size1of6.dim.right.gapRight  1:45pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/sheehy" ) Justin Sheehy
              \- Riak
            %p.unit.size1of6.dim.right.gapRight  2:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/sarkissian" ) Arin Sarkissian
              \- Cassandra
            %p.unit.size1of6.dim.right.gapRight  3:15pm
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight  3:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/banker" ) Kyle Banker
              \- MongoDB
            %p.unit.size1of6.dim.right.gapRight  4:15pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/anglade" ) Tim Anglade
              \- tin
            %p.unit.size1of6.dim.right.gapRight.gapTop  7:00pm
            %p.lastUnit.gapTop Cocktail Reception
            %p.unit.size1of6.dim.right.gapRight &nbsp;
            %p.lastUnit
              %span.tag sponsored by
              %a.link.tag( href="http://rackspacecloud.com" ) The Rackspace Cloud
            %p.unit.size1of6.dim.right.gapRight at
            %p.lastUnit
              Twisted Taco -
              %a.sponsor( href="http://local.google.com/maps?f=d&source=s_d&saddr=250+14th+St+NW,+Atlanta,+GA+30318&daddr=66+12th+St+NE,+Atlanta,+GA+30309-3979+(Twisted+Taco)&hl=en&geocode=%3BFe6CAwIdRGL4-iEGAML0fv7orA&mra=ls&dirflg=w&sll=33.785389,-84.389656&sspn=0.021383,0.017209&ie=UTF8&ll=33.785389,-84.389001&spn=0.021383,0.017209&z=16" ) Map



          .gapLeft.gapTop
            %h2.east.smallGapVertical Friday, October 30th
            %p.unit.size1of6.dim.right.gapRight  8:00am
            %p.lastUnit Light Breakfast
            %p.unit.size1of6.dim.right.gapRight.gapTop  9:00am
            %p.lastUnit.gapTop
              %a.command.speaker( href="#speaker/arrott" ) Matt Arrott
              \- Keynote
            %p.unit.size1of6.dim.right.gapRight &nbsp;
            %p.lastUnit
              %a.command.speaker( href="#speaker/day" ) John Day
            %p.unit.size1of6.dim.right.gapRight &nbsp;
            %p.lastUnit
              %a.command.speaker( href="#speaker/garnock-jones" ) Tony Garnock-Jones
            %p.unit.size1of6.dim.right.gapRight  9:45am
            %p.lastUnit
              %a.command.speaker( href="#speaker/weil" ) Kevin Weil
              \- Pig
            %p.unit.size1of6.dim.right.gapRight 10:30am
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight 10:45am
            %p.lastUnit
              %a.command.speaker( href="#speaker/curtin" ) Chris Curtin
              \- Cascading
            %p.unit.size1of6.dim.right.gapRight 11:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/eifrem" ) Emil Eifrem
              \- Neo4J
            %p.unit.size1of6.dim.right.gapRight 12:15pm
            %p.lastUnit.dim lunch
            %p.unit.size1of6.dim.right.gapRight  1:45pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/smith" ) Kevin Smith
              \- Redis
            %p.unit.size1of6.dim.right.gapRight  2:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/corwin" ) John Corwin
              \- Sherpa
            %p.unit.size1of6.dim.right.gapRight  3:15am
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight  3:30pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/yu" ) Yuan Yu
              \- Dryad / DryadLINQ
            %p.unit.size1of6.dim.right.gapRight  4:15pm
            %p.lastUnit
              %a.command.speaker( href="#speaker/gunnels" ) Mark Gunnels
              \- HBase

        #register.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command register

          .line.gapTop Registration is closed for 2009.



        #location.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command location

            .gapLeft
              %h2.bright.gapVertical.smallGapBottom Conference Venue
              %p Georgia Tech Research Institute - Conference Center
              %p 250 14th St. NW
              %p Atlanta, GA  30318
              %a.sponsor( href="http://local.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=250+14th+St+NW,+Atlanta,+GA+30318&sll=37.0625,-95.677068&sspn=81.793186,70.488281&ie=UTF8&ll=33.78571,-84.394913&spn=0.087529,0.068836&z=14" )Map

            .gapLeft
              %h2.bright.gapVertical.smallGapBottom Wednesday Cocktail Welcome - 7:00pm
              %p
                sponsored by
                %a.link( href="http://basho.com" ) Basho Technologies
              %p.smallGapTop Tap, a gastropub
              %p 1180 W. Peachtree Street NE
              %p Atlanta, GA  30309
              %a.sponsor( href="http://local.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1180+Peachtree+Street,+30309&sll=33.78571,-84.394913&sspn=0.085532,0.068836&ie=UTF8&hq=&hnear=1180+W+Peachtree+St+NE,+Atlanta,+Fulton,+Georgia+30309&z=16&iwloc=r17" )Map

            .gapLeft
              %h2.bright.gapVertical.smallGapBottom Thursday Cocktail Reception - 7:00pm
              %p
                sponsored by
                %a.link( href="http://rackspacecloud.com" ) The Rackspace Cloud
              %p.smallGapTop Twisted Taco
              %p 66 12th Street NE
              %p Atlanta, GA  30309
              %a.sponsor( href="http://local.google.com/maps?f=d&source=s_d&saddr=250+14th+St+NW,+Atlanta,+GA+30318&daddr=66+12th+St+NE,+Atlanta,+GA+30309-3979+(Twisted+Taco)&hl=en&geocode=%3BFe6CAwIdRGL4-iEGAML0fv7orA&mra=ls&dirflg=w&sll=33.785389,-84.389656&sspn=0.021383,0.017209&ie=UTF8&ll=33.785389,-84.389001&spn=0.021383,0.017209&z=16" )Map

              %h2.bright.gapVertical.smallGapBottom Accommodations
              %a.link( href="http://www.marriott.com/hotels/travel/atlmn-courtyard-atlanta-midtown-georgia-tech/" )Courtyard by Marriott
              %span right next door

        #who.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command who

          .gapLeft
            %h2.gapVertical.smallGapBottom Sponsors
            %p.dim
              %a.sponsor( href="http://rackspacecloud.com" )Rackspace Cloud
            %p.dim
              %a.sponsor( href="http://basho.com" )Basho
            %p.dim
              %a.sponsor( href="http://neotechnology.com" )Neo Technology
            %p.dim
              %a.sponsor( href="http://citrusleaf.net" )CitrusLeaf
            %p.dim
              %a.sponsor( href="http://cloudant.com" )Cloudant
            %p.dim
              %a.sponsor( href="http://gtri.gatech.edu" )Georgia Tech Research Institute

          .gapLeft
            %h2.gapVertical.smallGapBottom Organizers
            %p
              %a.link( href="http://twitter.com/boorad" title="boorad")Brad Anderson
            %p
              %a.link( href="http://twitter.com/benjaminblack" title="benjaminblack")Benjamin Black
            %p
              %a.link( href="http://twitter.com/mattpodwysocki" title="mattpodwysocki" )Matthew Podwysocki
            %p
              %a.link( href="http://twitter.com/voodootikigod" title="voodootikigod" )Chris Williams

        #notfound.cmddiv.alwaysHidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command abc

          .gapLeft.smallGapTop
            %h2 Command not found.

        #speaker-sarkissian.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker sarkissian

          .gapLeft.gapTop
            Arin Sarkissian is currently the lead of Digg's Core Infrastructure Team working on the site's scalability, performance & next generation architecture. Previously Arin created Blip.fm & served as their lead developer.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Deploying Cassandra in production: I'll be discussing what led Digg to look into NoSQL solutions, why we picked Cassandra, what's currently in production & how we're re-architecting Digg to use Cassandra as our primary data store. Along the way I'll share some lessons learned, metrics, our solutions to random roadblocks as well as various tips 'n tricks.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Video
          %embed.gapLeft( src="http://blip.tv/play/AYGxyC0A" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true" )

          %h2.bright.gapVertical.smallGapBottom.gapLeft Slides
          %a.gapLeft.sponsor( href="slides/sarkissian-cassandra.pdf" ) sarkissian-cassandra.pdf

        #speaker-smith.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker smith

          .gapLeft.gapTop
            Kevin Smith has, at various times, been a network administrator, DBA, developer, team lead and trainer over his 14 year career. He first learned about Erlang in 2006 via Joe Armstrong's excellent book and has never looked back. Kevin is the founder of Hypothetical Labs, a consultancy focused on helping software teams learn about and adopt Erlang for maximum success. He is also the author of the popular screencast series Erlang In Practice.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Sporting a simple API and a command syntax which closely resembles HTTP, Redis is the Swiss army knife of storage engines. In this presentation I'll give a short introduction to Redis, and discuss ways Redis can be used today in your application's infrastructure.

        #speaker-weil.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker weil

          .gapLeft.gapTop
            Kevin Weil leads the analytics team at Twitter, building distributed infrastructure and leveraging data analysis at a massive scale to help grow the popular micro-blogging service. With millions of monthly site visitors and many more interacting through API-based third party applications, Twitter has one of the world's most varied and interesting datasets. Prior to joining Twitter, Kevin led the analytics team at the Kleiner Perkins-backed web media startup Cooliris. Kevin earned his bachelor's degree in Mathematics and Physics from Harvard University, and has a master's degree in Physics from Stanford University.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Massive growth in the size of business datasets leads many companies to Hadoop, an emerging architecture for parallel data processing. However, the migration path can be challenging, in part because MapReduce analyses use programming languages like Java and Python rather than SQL. Apache Pig is a high-level framework built on top of Hadoop that offers a powerful yet vastly simplified way to analyze data in Hadoop. It allows businesses to leverage the power of Hadoop in a simple language readily learnable by anyone that understands SQL. In this presentation, I will introduce Pig and show how it's been used at Twitter to solve numerous analytics challenges that became intractable with our former MySQL-based architecture.

        #speaker-curtin.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker curtin

          .gapLeft.gapTop
            Chris Curtin is the CTO of Silverpop. Chris Curtin brings
            more than 19 years of experience leading the design and
            development of large-scale, mission-critical, distributed
            business applications. Previously, he was the director of
            engineering for Bradley Ward Systems Inc., where he
            developed and implemented manufacturing applications for
            the food industry and was lead architect at Manhattan
            Associates. Curtin graduated from the University of
            Massachusetts with a Bachelor of Science degree in
            computer science.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Map/Reduce, as provided in Apache’s Hadoop, is simple in
            concept, but difficult in practice. Many real world tasks
            require multiple map/reduce tasks and sometimes figuring
            out which step to perform an operation in can be a
            challenge.
            %a( href="http://www.cascading.org/" ) Cascading
            is an open source
            abstraction layer on top of Hadoop that provides an easy
            to use, but powerful API that figures out what problems
            you are trying to solve and builds the appropriate map,
            reduce and dependency logic. In this presentation I will
            be explaining the concepts of Cascading and showing how it
            is used to solve real world problems.

        #speaker-willis.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker willis

          .gapLeft.gapTop
            John Willis has worked in the IT management industry for 30 years. He started as a tape operator on an IBM mainframe while working for his high school computer club, and began his professional career at Exxon as an IT infrastructure analyst. He is the founder of four successful startups over the past 20 years and is currently the CEO of his self-funded Zabovo Corp. Willis is known internationally for his IT Management and Cloud blog. He also has two podcast series on clouds called 'Cloud Cafe' and 'Cloud Droplets'. Willis is also the co-host of Redmonk's 'IT Management Guys' podcast series.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Cambrian Explosion

          %h2.bright.gapVertical.smallGapBottom.gapLeft Video
          %embed.gapLeft( src="http://blip.tv/play/AYGuyFAA" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true" )

          %h2.bright.gapVertical.smallGapBottom.gapLeft Slides
          %a.gapLeft.sponsor( href="slides/willis-keynote.pdf" ) willis-keynote.pdf


        #speaker-arrott.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker arrott

          .gapLeft.gapTop
            Matt Arrott, e-Science Program Manager for the California Institute of Telecommunication and Information Technology at University of California San Diego and CTO for TWIST Process Innovations.  Mr. Arrott has over 20 years experience in project management, design leadership, and engineering management for software and network systems focused on information design and dissemination. His current focus is on the standardization of service interaction patterns as the basis for engineering scalable community articulated service clouds. Recently, much of his time is spent developing the cyber infrastructure strategy for the Ocean Observatories Initiative, a global multi scale instrumentation of the world¹s oceans for in situ scientific exploration. Past positions held with, Currenex, as VP of Product Development delivered the industry¹s first multi-bank "Executable Streaming Price" product distributing millions of real time pricing events daily across financial institutions globally; Dreamworks SKG, as Head of Software R&D; Autodesk, as Graphics System Development Manager; and the National Center for Supercomputing Applications, as scientific visualization architect.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Oceans of Data.  A haiku.

        #speaker-day.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker day

          .gapLeft.gapTop
            John Day has been involved in research and development of computer networks since 1970 (his original network address was 12) when he was involved in the design of transport and upper layer protocols for the ARPANet as well as the Internet.  Mr. Day has developed and designed protocols for everything from the data link layer to the application layer.  Recently Mr. Day has been turning his attention to radically new network architectures that scale indefinitely as described in his recent book Patterns in Network Architecture:  A Return to Fundamentals.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Oceans of Data.  A haiku.

        #speaker-garnock-jones.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker garnock-jones

          .gapLeft.gapTop
            Tony Garnock-Jones

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Oceans of Data.  A haiku.

        #speaker-banker.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker banker

          .gapLeft.gapTop
            Kyle Banker works at 10gen, where he maintains the MongoDB Ruby Driver and supports the Ruby developer community. Previously, Kyle built e-commerce and social networking applications at Alexander Interactive, and wishes he could have modeled his data as documents at the time. In a past life, Kyle thrived as a languages nerd and taught English literature; he hopes you'll find his presentation pedagogically sound.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            MongoDB is a high-performance, schema-free, document-oriented database built for scalability. Kyle will briefly highlight MongoDB's features, focusing on document indexing, dynamic querying, and large-object storage.  Following that, Kyle will address document-oriented data modeling in MongoDB, discuss how the database is used in production at Business Insider, and suggest ideal use cases for MongoDB.

        #speaker-miller.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker miller

          .gapLeft.gapTop
            Mike Miller is a co-founder of Cloudant, a company commercially developing Apache CouchDB and a sponsor of NoSQL East.  Mike enjoys putting algorithms in the wild, solving problems for the first time, and building things.  He honed his computing repertoire while studying the universe’s fundamental particles and interactions as a physicist, most recently at the Large Hadron Collider where he cut his teeth on Petabyte per second problems.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Apache CouchdDB is a schema-free document database with unique characteristics that make it an excellent fit for a new wave of applications.  It is a rapidly maturing product and one of the leaders of the NoSQL movement.  I will briefly highlight the defining characteristics of CouchDB (REST API, JSON key/value store, MapReduce views, replication/conflict-resolution), focusing on solving problems for both application development and application deployment.  I will then highlight lessons learned from running CouchDB at scale in production systems with an eye towards future development of the CouchDB project.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Video
          %embed.gapLeft( src="http://blip.tv/play/AYGvpm8A" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true" )

          %h2.bright.gapVertical.smallGapBottom.gapLeft Slides
          %a.gapLeft.sponsor( href="slides/miller-couchdb.pdf" ) miller-couchdb.pdf


        #speaker-moon.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker moon

          .gapLeft.gapTop
            Cliff is a builder of and frequent speaker on high-performance, scalable web applications. He is the lead engineer for front-end systems at Powerset where he was instrumental in the design, implementation, launch, and operation of many of the company's production services. Cliff is an active contributor to open source projects, and is a highly-regarded member of the Erlang community. He was inspired by the publication of the Amazon Dynamo paper to implement, and release as open source, Dynomite, a robust, distributed key/value store written in Erlang, currently in production use at Powerset.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            %p Dynomite and the future of Distributed Databases
            %p So what's the deal with Dynomite? Patches are not being accepted and development has crawled to a stop. Cliff will give everyone the inside scoop on what is happening with the Dynomite project and its current status vis open source. He will also discuss some ideas for the future of distributed databases.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Video
          %embed.gapLeft( src="http://blip.tv/play/AYGuvA4A" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true" )
          %p.gapLeft.tag note: Audio levels are low until 1:40

          %h2.bright.gapVertical.smallGapBottom.gapLeft Slides
          %a.gapLeft.sponsor( href="slides/moon-dynomite.pdf" ) moon-dynomite.pdf

        #speaker-sheehy.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker sheehy

          .gapLeft.gapTop
            Justin Sheehy is the CTO of Basho Technologies, the company behind the creation of Webmachine and Riak.  Before Basho, Justin worked on distributed systems, resilient networks, and high assurance at MITRE and Akamai.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Justin will introduce Riak, a decentralized data storage system.  Riak has a convenient HTTP/JSON interface and map/reduce programming atop a networking model that is focused on write-availability and ease of operations.  The talk will go through some difficult real-world situations that have occurred on applications using Riak, and how Riak helped make those situations manageable.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Video
          %embed.gapLeft( src="http://blip.tv/play/AYGv7WMA" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true" )

          %h2.bright.gapVertical.smallGapBottom.gapLeft Slides
          %a.gapLeft.sponsor( href="slides/sheehy-riak.pdf" ) sheehy-riak.pdf

        #speaker-gunnels.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker gunnels

          .gapLeft.gapTop
            Mark has been a software developer for over 11 years, working in diverse industries and technologies. He holds an undergraduate degree from Emory University and has done graduate work towards a Masters of Business Administration with a specialization in a Masters of Decision Sciences. Mark is a founding member of Catamorphic Labs, LLC, which specializes in mining massively large data-sets, semantic web technologies, and software development using emerging technologies.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Don't have the time to scale or shard MySQL? Don't have the GDP of a small nation to spend on Oracle? Riding on top of Hadoop's Distributed File Store and providing means to easily interact with Hadoop's MapReduce framework, HBase provides an inexpensive, simple, and scalable solution to persisting and processing massively large sets of data. This talk will introduce HBase's data model and API and then explore several cases where its use solved problems quickly and easily.

        #speaker-anglade.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker anglade

          .gapLeft.gapTop
            Tim Anglade is CTO of GemKitty LLC, a Portland-based jewelry start-up. He spends the rest of his days as a gun-for-hire extraordinaire or teaching Project Management at a university near Paris, France. He was previously Department Director for a Franco-American Web Agency and a consultant in charge of the Market Replay project at the Nasdaq Stock Exchange. He holds an MSc from the National Institute of Applied Sciences in Lyon and is an Invited Expert at the W3C.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            %p tin is a database engine so tiny, its name had to be shortened. More specifically, tin focuses on storage, retrieval, subscription and transformation of sequential data. Like many other "NoSQL" solutions, it is not meant as a general-use RDBMS replacement but finds all its strength when handling data such as Facebook walls, Twitter feeds or any multi-dimensional data that is primarily served or ordered along a single dimension (or single set of dimensions). The approach at the core of tin was first tested on financial data, in the back-end delivery service behind Nasdaq's Market Replay --- where it was able to serve petabytes worth of stock prices daily without breaking a sweat (or the piggy bank).
            %br
            %p This talk will cover:
            %ul
              %li the reasons that led to the conception of such a tool;
              %li how tin and other "text & filesystem" DBMS can be architected;
              %li how to reduce some data conundrums to 1-dimensional problems;
              %li performance gains of such approaches (the usual charts & graphs pr0n)
              %li and as a bonus (if time allows): "lens-based" transformation systems like the one used inside tin.
        #speaker-eifrem.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker eifrem

          .gapLeft.gapTop
            Founder of the Neo4j graph database project and CEO of Neo Technology.  Programmer by passion the first 15 years on this planet and by passion & profession the remaining 15. First free software project at age 16. Now mainly focused on spreading the word about the powers of graphs and preaching the demise of tabular solutions everywhere. Presents regularly at conferences such as JAOO, Oredev, QCon, and OSCON.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            %p Many applications today handle data that is deeply associative, i.e. structured as graphs (networks). The most obvious example of this is social networking sites, but even tagging systems, content management systems and wikis deal with inherently hierarchical or graph-shaped data.
            %p This turns out to be a problem because it is difficult to deal with recursive data structures in traditional relational databases and many NoSQL stores alike. For example, in an RDBMS each traversal along a link in a graph is a join, and joins are known to be very expensive.
            %p A graph database uses nodes, relationships between nodes and key-value properties instead of tables to represent information. This model is typically substantially faster for associative data sets and uses a schema-less, bottoms-up model that is ideal for capturing ad-hoc and rapidly changing data.
            %p This session will introduce an open source, high-performance, transactional and disk-based graph database called "Neo4j" (http://neo4j.org), which frequently outperforms relational backends with >1000x for graph-shaped data.

        #speaker-magnusson.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker magnusson

          .gapLeft.gapTop
            Geir Magnusson Jr, VP, Platform and Architecture, Gilt Groupe - Geir brings to Gilt his interest in scalable systems, software engineering and craftsmanship, and open source software. He's served as a technical executive and leader for companies such as 10gen, Joost, Adeptra, Bloomberg and Intel, and has built systems and solutions for industries as ranging across financial markets to fraud contact to digital audio.  He also has broad experience in open source, having founded several significant open source projects, such as Apache Geronimo, Apache Harmony and Apache Velocity.  A member of the Apache Software Foundation, he's represented the Foundation as a member of the Executive Committee of the Java Community Process and is a past and current member of the Board of Directors.  He's also an international speaker on open source and software technology.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Project Voldemort is an open-source data persistence technology that is accurately described as a "big, distributed, persistent, fault-tolerant hash table".  It's not a relational database.  It doesn't do ACID.  It doesn't care about your object or your documents.  But it will store data and get return it to you even when parts of it go away, and it will do it rather fast.  This talk covers the basic theory of operation of Project Voldemort, and describe how Gilt Groupe is using Project Voldemort at the heart of their e-commerce transaction processing system.

        #speaker-yu.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker yu

          .gapLeft.gapTop
            Yuan Yu is a senior researcher at Microsoft Research Silicon Valley lab, where he currently works on systems and programming models for large-scale parallel and distributed computing. He is the project leader and primary developer of DryadLINQ. He joined Microsoft Research in 2002. Previously, he was a senior member of technical staff at the DEC/Compaq Systems Research Center. He has a PhD in Applied Mathematics from University of Texas at Austin.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            A DryadLINQ program is a sequential program (written in C#, VB, or F#) composed of LINQ queries performing arbitrary side effect-free transformations on datasets, and can be written and debugged using standard .NET development tools. The DryadLINQ system automatically and transparently translates the LINQ queries in the program into distributed execution plans and executes them on large compute clusters using the Dryad execution engine. In this talk, I will describe the programming model, the design and implementation, and applications of the systems.

        #speaker-corwin.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker corwin

          .gapLeft.gapTop
            John Corwin is a senior engineer in Yahoo!'s Cloud Computing group in Sunnyvale, CA, where he works on the Sherpa distributed database platform. Before joining Yahoo!, John attended graduate school at Yale where he did research on database systems. Prior to that, John was a member of IBM's Advanced Internet Technology group in Cambridge, MA.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Sherpa is Yahoo!'s next-generation structured-record distributed storage service that addresses growing scalability needs of Yahoo!'s properties. Important features of Sherpa include high scalability, elastic growth, a global footprint, and low-latency access from anywhere. One key difference between Sherpa and other distributed database systems is Sherpa's support for different consistency models, allowing the application developer to manage the trade-off between consistency, availability, and performance. In this talk, I will give an overview of the Sherpa architecture and describe how various web serving application can use Sherpa to solve their data storage problems.

        #prompt.line.gapTop
          .unit >&nbsp;
          #command.unit.command
          #cursor.bright.unit
            |

      .line.center.smallAir.border.dim
        %h2 Sponsored By

        .sponsors.line.bigAir
          %a.sponsorImage.centered.rackspace( href="http://rackspacecloud.com" )<> Rackspace Cloud
          %a.sponsorImage.centered.basho( href="http://basho.com" )<> Basho
          %a.sponsorImage.centered.neo( href="http://neotechnology.com" )<> Neo Technology
          %a.sponsorImage.centered.citrusleaf( href="http://citrusleaf.net" )<> Citrusleaf
          %a.sponsorImage.centered.cloudant( href="http://cloudant.com" )<> Cloudant
          %a.sponsorImage.centered.gtri( href="http://gtri.gatech.edu" )<> Georgia Tech Research Institute


      .foot.smallAirTop.bigAirBottom
        .unit.size1of2.tag
          %span Contact Us:
          %a.link( href="http://twitter.com/nosqleast" )@nosqleast
          &nbsp;-&nbsp;
          %a.link( href="mailto:nosqleast@gmail.com" )nosqleast@gmail.com

        .lastUnit.size1of2.tag.right
          %span.dim design by
          %a.link( href="http://twitter.com/steadicat" )steadicat


    %script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" )
    %script( type="text/javascript" src="../nosql.js" )