!!!Strict
%html
  %head
    %title no:sql(east) conference.
    %link( rel="stylesheet" type="text/css" href="../nosql.css" )
  %body
    %script( type="text/javascript" )
      document.write('<style type="text/css">.hidden { display: none }</style>');

    .page.narrow

      .head
        .line.border
          .unit.size1of2.logo.border
            .air
              %span.no no
              %span.dim<> :
              %span.sql sql
              %span.dim<> (
              %span.east east
              %span.dim<> )
              %span.dim<> .
          .lastUnit.size1of2.bigAirTop.airLeft
            .line
              %span.command date
              %span.dim =
              %span.string "October 28&ndash;30, 2009"
            .line
              %span.command location
              %span.dim =
              %span.string "Atlanta, GA"

        .line.center.smallAir.border
          select
          %span.bright fun, profit
          from
          %span.bright real_world
          where
          %span.bright relational
          %span.dim<> =
          false
          %span.dim<> ;

      .body.border.bigAir

        #help
          > help

          .gapLeft
            .dim Available commands are:
            .line
              %a.command.unit.size1of4( href="#describe" ) describe
              .lastUnit.size3of4 get description of the event
            .line
              %a.command.unit.size1of4( href="#who" ) who
              .lastUnit.size3of4 get list of organizers and sponsors
            .line
              %a.command.unit.size1of4( href="#agenda" ) agenda
              .lastUnit.size3of4 get the schedule of the conference
            .line
              %a.command.unit.size1of4( href="#register" ) register
              .lastUnit.size3of4 get early bird registration until September 30th
            .line
              %a.command.unit.size1of4( href="#speakers" ) speakers
              .lastUnit.size3of4 get list of confirmed speakers
            .line
              %a.command.unit.size1of4( href="#location" ) location
              .lastUnit.size3of4 get event location


        #commands

        #describe.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command describe

          .gapLeft.gapTop
            NoSQL East, a conference of non-relational data stores, aims
            to present the experiences of different companies using so-called
            “nosql” solutions in production.

          .gapLeft.gapTop
            The reasons for using these new
            systems are varied, but often involve scale that relational
            solutions cannot achieve.  We have a new tool in our toolbelts,
            and as you will see, some people are using them quite effectively.

          .gapLeft.gapTop
            Join us in Atlanta as we discuss “Big Data” and the systems that
            are completely transforming how people look at data.

        #speakers.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speakers

          .gapLeft.smallGapTop

            %h2.smallGapTop
              Arin Sarkissian
              %span.dim<> &nbsp;(
              %a.east( href="http://digg.com" )<> Digg
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://incubator.apache.org/cassandra/" )Cassandra

            %h2.smallGapTop
              Kevin Smith
              %span.dim<> &nbsp;(
              %a.east( href="http://hypotheticalabs.com" )<> Hypothetical Labs
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://code.google.com/p/redis/" )Redis

            %h2.smallGapTop
              Kevin Weil
              %span.dim<> &nbsp;(
              %a.east( href="http://twitter.com" )<> Twitter
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://hadoop.apache.org/pig/" )Pig

            %h2.smallGapTop
              %a.command.speaker( href="#speaker/curtin" ) Chris Curtin
              %span.dim<> &nbsp;(
              %a.east( href="http://silverpop.com" )<> Silverpop
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://cascading.org" )Cascading

            %h2.smallGapTop
              John Hornbeck
              %span.dim<> &nbsp;(
              %a.east( href="http://engineyard.com" )<> Engine Yard
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://mongodb.org" )MongoDB

            %h2.smallGapTop
              Mike Miller
              %span.dim<> &nbsp;(
              %a.east( href="http://cloudant.com" )<> Cloudant
              %span.dim<> ):&nbsp;
              %a.sponsor(href="http://couchdb.apache.org" )CouchDB

            %h2.smallGapTop
              Cliff Moon
              %span.dim<> &nbsp;(
              %a.east( href="http://powerset.com" )<> Microsoft / Powerset
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://wiki.github.com/cliffmoon/dynomite" )Dynomite

            %h2.smallGapTop
              Justin Sheehy
              %span.dim<> &nbsp;(
              %a.east( href="http://basho.com" )<> Basho
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://riak.basho.com" )Riak

            %h2.smallGapTop
              Mark Gunnels
              %span.dim<> &nbsp;(
              %a.east( href="http://catamorphiclabs.com" )<> Catamorphic Labs
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://hadoop.apache.org/hbase/" )HBase

            %h2.smallGapTop
              Tim Anglade
              %span.dim<> &nbsp;(
              %a.east( href="http://af83.com" )<> af83
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://github.com/timanglade/tin/" )tin

            %h2.smallGapTop
              Emil Eifrem
              %span.dim<> &nbsp;(
              %a.east( href="http://neotechnology.com/" )<> Neo Technology
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://neo4j.org/" )Neo4j

            %h2.smallGapTop
              Geir Magnusson
              %span.dim<> &nbsp;(
              %a.east( href="http://gilt.com/" )<> Gilt Groupe
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://project-voldemort.com/" )Project Voldemort

            %h2.smallGapTop
              Yuan Yu
              %span.dim<> &nbsp;(
              %a.east( href="http://research.microsoft.com/" )<> Microsoft Research
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://connect.microsoft.com/site/sitehome.aspx?SiteID=891" )Dryad/DryadLINQ

            %h2.smallGapTop
              John Corwin
              %span.dim<> &nbsp;(
              %a.east( href="http://yahoo.com/" )<> Yahoo!
              %span.dim<> ):&nbsp;
              %a.sponsor( href="http://developer.yahoo.net/blog/archives/2009/06/sherpa.html" )Sherpa

        #agenda.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command agenda

          .gapLeft.smallGapTop
            %p.dim A work in progress...

          .gapLeft.gapTop
            %h2.east.smallGapVertical Wednesday, October 28th
            %p.unit.size1of6.dim.right.gapRight 5:00pm
            %p.lastUnit
              %a.sponsor( href="http://www.meetup.com/awsomeatlanta/calendar/11327683/" )Cloud Camp Atlanta II
            %p.unit.size1of6.dim.right.gapRight 7:00pm
            %p.lastUnit NoSQL East - Cocktail Welcome

          .gapLeft.gapTop
            %h2.east.smallGapVertical Thursday, October 29th
            %p.unit.size1of6.dim.right.gapRight  8:00am
            %p.lastUnit Registration
            %p.unit.size1of6.dim.right.gapRight  9:00am
            %p.lastUnit Opening Remarks
            %p.unit.size1of6.dim.right.gapRight  9:15am
            %p.lastUnit Talk 1 / Keynote
            %p.unit.size1of6.dim.right.gapRight 10:00am
            %p.lastUnit John Hornbeck - MongoDB
            %p.unit.size1of6.dim.right.gapRight 10:45am
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight 11:00am
            %p.lastUnit Cliff Moon - Dynomite
            %p.unit.size1of6.dim.right.gapRight 11:45pm
            %p.lastUnit Mike Miller - CouchDB
            %p.unit.size1of6.dim.right.gapRight 12:30pm
            %p.lastUnit.dim lunch
            %p.unit.size1of6.dim.right.gapRight  1:45pm
            %p.lastUnit Justin Sheehy - Riak
            %p.unit.size1of6.dim.right.gapRight  2:30pm
            %p.lastUnit Arin Sarkissian - Cassandra
            %p.unit.size1of6.dim.right.gapRight  3:15pm
            %p.lastUnit.dim break
            %p.unit.size1of6.dim.right.gapRight  3:30pm
            %p.lastUnit Geir Magnusson - Voldemort
            %p.unit.size1of6.dim.right.gapRight  6:00pm
            %p.lastUnit Dinner / Cocktails

          .gapLeft.gapTop
            %h2.east.smallGapVertical Friday, October 30th
            %p.unit.size1of6.dim.right.gapRight  8:00am
            %p.lastUnit Breakfast

            .line.gapVertical
              .unit.size1of2
                %h2.bigGapLeft.smallGapBottom.bright Hadoop Track
                %p.unit.size1of3.dim.right.gapRight  9:15am
                %p.lastUnit Kevin Weil - Pig
                %p.unit.size1of3.dim.right.gapRight 10:00am
                %p.lastUnit Mark Gunnels - HBase
                %p.unit.size1of3.dim.right.gapRight 10:45am
                %p.lastUnit.dim break
                %p.unit.size1of3.dim.right.gapRight 11:00am
                %p.lastUnit
                  %a.command.speaker( href="#speaker/curtin" ) Chris Curtin
                  \- Cascading
              .lastUnit.size1of2
                %h2.bigGapLeft.smallGapBottom.bright Alternative Track
                %p.unit.size1of3.dim.right.gapRight  9:15am
                %p.lastUnit Tim Anglade - tin
                %p.unit.size1of3.dim.right.gapRight 10:00am
                %p.lastUnit John Corwin - Sherpa
                %p.unit.size1of3.dim.right.gapRight 10:45am
                %p.lastUnit.dim break
                %p.unit.size1of3.dim.right.gapRight 11:00am
                %p.lastUnit Kevin Smith - Redis

            .gapTop
            %p.unit.size1of6.dim.right.gapRight 11:45pm
            %p.lastUnit Emil Eifrem - Neo4J
            %p.unit.size1of6.dim.right.gapRight 12:30pm
            %p.lastUnit.dim lunch
            %p.unit.size1of6.dim.right.gapRight  1:45pm
            %p.lastUnit Lightning Talks
            %p.unit.size1of6.dim.right.gapRight  2:30pm
            %p.lastUnit Yuan Yu - Dryad / DryadLINQ

        #register.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command register

          %script( type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js" )
          .gapLeft.smallGapTop
            %iframe( src="https://www.amiando.com/nosqleast.html?viewType=iframe&panelId=522582&useDefaults=false&useEventColors=false&simple_cbox=222222&simple_ctext=aaaaaa&simple_clink=006666&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame522582a8n9gXx0" id="_amiandoIFrame522582a8n9gXx0" )
              %span Try out the
              %a.dim( href="http://www.amiando.com/" )online event registration system
              from amiando.

            %p.tag
            %a.tag.link( href="http://www.amiando.com/conference-management-software.html" alt="Conference Management Software" title="Conference Management Software" )Conference Management Software
            %span.tag by amiando



        #location.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command location

            .gapLeft
              %h2.bright.gapVertical.smallGapBottom Venue
              %p Georgia Tech Research Institute - Conference Center
              %p 250 14th St. NW
              %p Atlanta, GA  30318
              %a.sponsor( href="http://local.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=250+14th+St+NW,+Atlanta,+GA+30318&sll=37.0625,-95.677068&sspn=81.793186,70.488281&ie=UTF8&ll=33.78571,-84.394913&spn=0.087529,0.068836&z=14" )Map

              %h2.bright.gapVertical.smallGapBottom Accommodations
              %a.link( href="http://www.marriott.com/hotels/travel/atlmn-courtyard-atlanta-midtown-georgia-tech/" )Courtyard by Marriott
              %span right next door
              %p
                $114 per night -
                %a.sponsor( href="http://www.marriott.com/hotels/travel/ATLMN?groupCode=nsqnsqa&app=resvlink&fromDate=10/28/09&toDate=10/30/09" ) NoSQL East rate
                until Sept. 30

        #who.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command who

          .gapLeft
            %h2.gapVertical.smallGapBottom Sponsors
            %p.dim
              %a.sponsor( href="http://cloudant.com" )Cloudant
            %p.dim
              %a.sponsor( href="http://gtri.gatech.edu" )Georgia Tech Research Institute
            %p.dim
              %a.sponsor( href="http://rackspacecloud.com" )Rackspace Cloud
            %p.dim
              %a.sponsor( href="http://basho.com" )Basho

          .gapLeft
            %h2.gapVertical.smallGapBottom Organizers
            %p
              %a.link( href="http://twitter.com/boorad" title="boorad")Brad Anderson
            %p
              %a.link( href="http://twitter.com/benjaminblack" title="benjaminblack")Benjamin Black
            %p
              %a.link( href="http://twitter.com/mattpodwysocki" title="mattpodwysocki" )Matthew Podwysocki
            %p
              %a.link( href="http://twitter.com/voodootikigod" title="voodootikigod" )Chris Williams

        #notfound.cmddiv.alwaysHidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command abc

          .gapLeft.smallGapTop
            %h2 Command not found.

        #speaker-curtin.cmddiv.hidden
          .line.gapTop
            .unit >&nbsp;
            %h1.lastUnit.command speaker curtin

          .gapLeft.gapTop
            Chris Curtin is the CTO of Silverpop. Chris Curtin brings
            more than 19 years of experience leading the design and
            development of large-scale, mission-critical, distributed
            business applications. Previously, he was the director of
            engineering for Bradley Ward Systems Inc., where he
            developed and implemented manufacturing applications for
            the food industry and was lead architect at Manhattan
            Associates. Curtin graduated from the University of
            Massachusetts with a Bachelor of Science degree in
            computer science.

          %h2.bright.gapVertical.smallGapBottom.gapLeft Abstract

          .gapLeft.gapTop
            Map/Reduce, as provided in Apache’s Hadoop, is simple in
            concept, but difficult in practice. Many real world tasks
            require multiple map/reduce tasks and sometimes figuring
            out which step to perform an operation in can be a
            challenge.
            %a( href="http://www.cascading.org/" ) Cascading
            is an open source
            abstraction layer on top of Hadoop that provides an easy
            to use, but powerful API that figures out what problems
            you are trying to solve and builds the appropriate map,
            reduce and dependency logic. In this presentation I will
            be explaining the concepts of Cascading and showing how it
            is used to solve real world problems.

        #prompt.line.gapTop
          .unit >&nbsp;
          #command.unit.command
          #cursor.bright.unit
            |

      .line.center.smallAir.border.dim
        %h2 Sponsored By

        .sponsors.line.bigAir
          %a.sponsorImage.centered.cloudant( href="http://cloudant.com" )<> Cloudant
          %a.sponsorImage.centered.georgia( href="http://gtri.gatech.edu" )<> Georgia Tech
          %a.sponsorImage.centered.rackspace( href="http://rackspacecloud.com" )<> Rackspace Cloud
          %a.sponsorImage.centered.basho( href="http://basho.com" )<> Basho


      .foot.smallAirTop.bigAirBottom
        .unit.size1of2.tag
          %span Contact Us:
          %a.link( href="http://twitter.com/nosqleast" )@nosqleast
          &nbsp;-&nbsp;
          %a.link( href="mailto:nosqleast@gmail.com" )nosqleast@gmail.com

        .lastUnit.size1of2.tag.right
          %span.dim design by
          %a.link( href="http://twitter.com/steadicat" )steadicat


    %script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" )
    %script( type="text/javascript" src="../nosql.js" )